<section id="fh5co-counters" style="background-image: url({{content.field_project_image.0}});" data-stellar-background-ratio="0.5">
		<div class="fh5co-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center to-animate">
					<h2>{{content.field_title.0}}</h2>
				</div>
			</div>
			<div class="row">
				{{content.field_counters}}
			</div>
		</div>
	</section>