<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="fh5co-counter to-animate">
						{{content.field_icon.0}}
						<span class="fh5co-counter-number js-counter" data-from="0" data-to="{{content.field_count.0}}" data-speed="5000" data-refresh-interval="50">{{content.field_count.0}}</span>
						<span class="fh5co-counter-label">{{content.field_icon_text.0}}</span>
					</div>
				</div>