<div class="col-md-4">
					<div class="box-testimony">
						<blockquote class="to-animate-2">
							<p>{{content.field_body}}</p>
						</blockquote>
						<div class="author to-animate">
							<figure><img src="{{content.field_project_image.0}}" alt="Person"></figure>
							<p> {{content.field_title.0}}<span class="subtext">{{content.field_position.0}}</span></p>
						</div>
					</div>
				</div>